<div class="footer-wrapper">
    <div class="footer-container section-padding-half main-container-fluid" ng-class="{'footerActive' : footerActive }">
        <div class="footer-main-wrapper main-container">
            <div class="two-col-grid medium-mob-gap"  >

                <div class="inner-flex flex-row-mob footer-inquiry-tab  medium-gap" ng-class="{'j-c-sb': isMobileScreen  }">
                    <div class="section-paragraph">
                        <p class="medium-fonts">
                            Do You Like what <br>
                            you see ? Let's Connect.
                        </p>
                    </div>
                    <div class="">
                        <div class="footer-inquiry-btn wfc">
                            <a href="mailto:inquiry@parshwadyes.com">
                                <button class="gradient-btn  common-link-btn medium-fonts">
                                    inquiry@parshwadyes.com
                                    <img src="assets/images/icons/rounded-diagonal-arrow.svg" class="btn-icon" alt="">
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="flex-row    footer-quick-link  small-gap">
                    <div class="inner-flex small-gap">
                        <div class="section-paragraph">
                            <p class="medium-fonts">
                                Quick Connect
                            </p>
                        </div>
                        <div class="footer-links link-fonts">
                            <ul class="inner-flex">
                                <li>
                                    <a href="{{base_url}}" ng-class="{'active'  : activePath = '/' }">
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a href="/about" ng-class="{'active'  : activePath = '/about' }">
                                        About Us
                                    </a>
                                </li>
                                <li>
                                    <a href="/quality" ng-class="{'active'  : activePath = '/quality' }">
                                        Quality
                                    </a>
                                </li>
                                <li>
                                    <a href="/contact" ng-class="{'active'  : activePath = '/contact' }">
                                        Agent or Seller
                                    </a>
                                </li>
                                <li>
                                    <a href="/contact" ng-class="{'active'  : activePath = '/contact' }">
                                        Contact Us
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="inner-flex small-gap">
                        <div class="section-paragraph">
                            <p class="medium-fonts">
                                Products We Offer
                            </p>
                        </div>
                        <div class="footer-links link-fonts">
                            <ul class="inner-flex">
                                <li ng-repeat="data in dyeList">
                                    <a href="dyes/{{data.slug}}" ng-class="{'active'  : activePath = '/dyes' }">
                                        {{data.name}}
                                    </a>
                                </li>
                                <!-- <li>
                                    <a href="/about" ng-class="{'active'  : activePath = '/about' }">
                                        Food & Lake Colors
                                    </a>
                                </li>
                                <li>
                                    <a href="/quality" ng-class="{'active'  : activePath = '/quality' }">
                                        Direct Dyes
                                    </a>
                                </li>
                                <li>
                                    <a href="/contact" ng-class="{'active'  : activePath = '/contact' }">
                                        Acid Dyes
                                    </a>
                                </li>
                                <li>
                                    <a href="/contact" ng-class="{'active'  : activePath = '/contact' }">
                                        Wood Stain Dyes
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                    </div>

                    <div class="inner-flex small-gap">
                        <div class="section-paragraph">
                            <p class="medium-fonts">
                                Contact
                            </p>
                        </div>
                        <div class="footer-links link-fonts">
                            <ul class="inner-flex">
                                <li>
                                    <a href="/" ng-class="{'active'  : activePath = '/' }">
                                        1-5617, Phase-ll, Vat-va, G.I.D.C.
                                        Ahmedabad -382 445,
                                        Gujarat (India)
                                    </a>
                                </li>
                                <li>
                                    <a href="tel:+917940083231" ">
                                        +91-794-008-3231
                                    </a>
                                </li>
                            </ul>
                            <div class=" social-media-flex ">
                                <ul class=" flex-row">
                                <li>
                                    <a href="javascript:void(0)" target="_blank">
                                        <img src="assets/images/icons/social-icons-01.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" target="_blank">
                                        <img src="assets/images/icons/social-icons-02.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" target="_blank">
                                        <img src="assets/images/icons/social-icons-03.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" target="_blank">
                                        <img src="assets/images/icons/social-icons-04.svg" alt="">
                                    </a>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="footer-main-title text-center">
            <h2 class="medium-fonts"> Crafting Since 1998 </h2>
        </div>


        <div class="two-col-grid powered-grid medium-mob-gap  pt0">

            <div class="flex-row medium-gap alc" ng-class="{'j-c-c' : isMobileScreen , 'inner-flex' :  isMobileScreen}">
                <div class="footer-logo">
                    <a href="{{base_url}}">
                        <img src="assets/images/logo/logo.png" alt="">
                    </a>
                </div>
                <div class="link-fonts " ng-if="!isMobileScreen">
                    <p>
                        &copy; Parshwanath Group of Industries 2024
                    </p>
                </div>
            </div>
            <div class="flex-row small-gap w100 j-c-sb alc" ng-class="{'flex-wrap' : isMobileScreen}">

                <div class="link-fonts " ng-if="isMobileScreen">
                    <p>
                        &copy; Parshwanath Group of Industries 2024
                    </p>
                </div>

                <div class="flex-row medium-gap">
                    <div class="link-fonts">
                        <a href="">
                            Privacy Policy
                        </a>
                    </div>
                    <div class="link-fonts">
                        <a href="">
                            Terms & Conditions
                        </a>
                    </div>
                    
                </div>
                <div class="link-fonts">
                    <p>Design By : <a href="https://www.saltpixels.in" class="salt-logo"> </a></p>
                </div>
            </div>
        </div>

    </div>
</div>