<div class="header-wrapper" ng-class="{'black-header' : blackHeader}">
    <div class="header-container main-container">
        <div class="header-flex">
            <div class="header-logo">
                <a href="{{base_url}}">
                    <img src="assets/images/logo/logo.png" class="black-logo" alt="">
                    <img src="assets/images/logo/logo.png" class="white-logo" alt="">
                </a>
            </div>
            <div class="header-navigation-links link-fonts hidden-xs hidden-sm">
                <ul class="inner-flex">
                    <li>
                        <a href="" class="uppercase white-color" ng-class="{'active'  : activePath = '/' }">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="" class="uppercase white-color" ng-class="{'active'  : activePath = '/about' }">
                            About us
                        </a>
                    </li>
                    <li>
                        <a href="" class="uppercase white-color" ng-class="{'active'  : activePath = '/quality' }">
                            Quality
                        </a>
                    </li>
                    <li>
                        <a href="" class="uppercase white-color" ng-class="{'active'  : activePath = '/agent' }">
                            Agent Or Seller
                        </a>
                    </li>
                    <li>
                        <a href="" class="uppercase white-color" ng-class="{'active'  : activePath = '/contact' }">
                            contact
                        </a>
                    </li>
                </ul>
            </div>
            <div class="header-btn hidden-xs hidden-sm">
                <button class="gradient-btn uppercase">
                    Products <span class="secondary-color"> / </span> 10
                </button>
            </div>
            <div class="header-btn visible-xs visible-sm">
                <div class="menu ">
                    <div class="bar top"></div>
                    <div class="bar middle"></div>
                    <div class="bar bottom"></div>
                </div>
            </div>
        </div>
    </div>
</div>