<div class="contact-wrapper">
    <form class="contactForm" name="contactForm" id="contactForm">
        <div class="contact-label">
            <input type="text" name="name" id="name" required>
            <label for="name" class="md-label">Name</label>
        </div>
        <div class="contact-label">
            <input type="email" name="email" id="email" required>
            <label for="email" class="md-label">Email Address</label>
        </div>
        <div class="contact-label">
            <input type="text" name="contact" id="contact" required>
            <label for="contact" class="md-label">Contact</label>
        </div>
        <div class="contact-label">
            <input type="text" name="inquiry" id="inquiry" required>
            <label for="inquiry" class="md-label">Inquiry for</label>
        </div>
        <div class="contact-label">
            <input type="text" name="country" id="country" required>
            <label for="country" class="md-label">Country</label>
        </div>
        <div class="contact-label">
            <input type="text" name="city" id="city" required>
            <label for="city" class="md-label">City</label>
        </div>
        <div class="contact-label">
            <input type="text" name="companyname" id="companyname" required>
            <label for="companyname" class="md-label">Company Name</label>
        </div>
        <div class="contact-label">
            <input type="text" name="name" id="name" required>
            <label for="name" class="md-label">Website</label>
        </div>
        <div class="contact-label">
            <textarea type="text" name="message" id="message" rows="3" required>
            </textarea>
            <label for="message" class="md-label">Message</label>

        </div>
        <div class="contact-label checkbok-label">
            <input type="checkbox" name="tnc" id="tnc" required>
            <label for="tnc" class="md-label">I'm not a robot <br>
                By submitting this form I accept the Privacy Policy of this site.</label>

        </div>

        <div class="about-btn wfc">
            <button class="gradient-btn  common-link-btn" type="submit">
                Send Now
                <img src="assets/images/icons/rounded-diagonal-arrow.svg" class="btn-icon" alt="">
            </button>
        </div>

    </form>
</div>