.wow {
    visibility: hidden;
}

@-webkit-keyframes fade_top {
    0% {
        opacity: 0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fade_top {
    0% {
        opacity: 0;
        -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fade_top {
    -webkit-animation-name: fade_top;
    animation-name: fade_top;
}

.swiper-pagination-progressbar {
    background: rgb(0 0 0 / 3%);
}

@-webkit-keyframes slide_left {
    0% {
        left: 0%;
    }

    100% {
        left: -30%;
    }
}

@keyframes slide_left {
    0% {
        left: 0%;
    }

    100% {
        left: -30%;
    }
}

.slide_left {
    -webkit-animation-name: slide_left;
    animation-name: slide_left;
}

@-webkit-keyframes slide_right {
    0% {
        right: 0%;
    }

    100% {
        right: -30%;
    }
}

@keyframes slide_right {
    0% {
        right: 0%;
    }

    100% {
        right: -30%;
    }
}

.slide_right {
    -webkit-animation-name: slide_right;
    animation-name: slide_right;
}

@font-face {
    font-family: 'Rooberto-Regular';
    src: url('../fonts/rooberto/Roobert-Regular.woff2') format('woff2'),
        url('../fonts/rooberto/Roobert-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rooberto-Medium';
    src: url('../fonts/rooberto/Roobert-Medium.woff2') format('woff2'),
        url('../fonts/rooberto/Roobert-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rooberto-Light';
    src: url('../fonts/rooberto/Roobert-Light.woff2') format('woff2'),
        url('../fonts/rooberto/Roobert-Light.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rooberto-Bold';
    src: url('../fonts/rooberto/Roobert-Bold.woff2') format('woff2'),
        url('../fonts/rooberto/Roobert-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rooberto-Semibold';
    src: url('../fonts/rooberto/Roobert-SemiBold.woff2') format('woff2'),
        url('../fonts/rooberto/Roobert-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


:root {
    /* colors */
    --primary-color: #000;
    --gray-color: #838383;
    --secondary-color: #cc3c21;
    --white-color: #fff;
    --brown-color: #a07d69;
    /* font-sizes */
    --banner-font-size: 6.25rem;
    --title-font-size: 5rem;
    --title-font-size-2: 3rem;
    --subtitle-font-size: 2.25rem;
    --content-font-size: 1.3rem;
    --paragraph-font-size: 1.5rem;
    --smalltitle-font-size: 0.875rem;
    --link-font-size: 0.875rem;
    /* font-families */
    --regular-font-family: "Rooberto-Regular";
    --light-font-family: "Rooberto-Light";
    --medium-font-family: "Rooberto-Medium";
    --semibold-font-family: "Rooberto-Semibold";
    --bold-font-family: "Rooberto-Bold";

    /* other */
    --common-transition: all 0.6s ease;
    --common-gap-size: 1rem;
    --small-gap-size: 1.5rem;
    --medium-gap-size: 3rem;
    --big-gap-size: 5rem;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: var(--regular-font-family);
    color: var(--primary-color);
}

html {
    height: auto;
    font-size: 16px;
    scroll-behavior: smooth;
}

* {
    line-height: 1.2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1.2;
    width: 100%;
}

::-webkit-scrollbar {
    width: 0px !important;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background: #cccccc !important;
}

::-webkit-scrollbar-thumb {
    background: #000000 !important;
}

::-webkit-scrollbar-thumb:hover {
    background: #000000 !important;
}

body.no-scroll-body {
    overflow-y: hidden;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    background-color: transparent;
    color: unset;
    outline: none;
    text-decoration: none;
    -webkit-transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
    -ms-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

a:focus,
a:hover {
    outline: 0;
    text-decoration: unset;
    color: unset;
}

img {
    width: 100%;
    object-fit: cover;
    max-width: 100%;
    transition: var(--common-transition);
    cursor: pointer;
    display: inline-block;
}

.relative {
    position: relative;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.section-padding {
    padding: 6rem 0;
}

.section-padding-half {
    padding: 3rem 0;
}

.product-discription-padding {
    padding: 3rem;
}

.brown-color {
    color: var(--brown-color) !important;
}

.pt0 {
    padding-top: 0 !important;
}

.pb0 {
    padding-bottom: 0 !important;
}

.alc {
    align-items: center;
}

.alend {
    align-items: end;
}

.j-c-sb {
    justify-content: space-between;
}

.j-c-c {
    justify-content: center;
}

.flex-row {
    display: flex;
    gap: var(--common-gap-size);
}

.inner-flex {
    display: flex;
    flex-direction: column;
    gap: var(--common-gap-size);
}

.small-gap {
    gap: var(--small-gap-size);
}

.medium-gap {
    gap: var(--medium-gap-size);
}

.flex-wrap {
    flex-wrap: wrap;
}

.sect-gap {
    gap: 8.75rem;
}

.medium-fonts {
    font-family: var(--medium-font-family) !important;
}

.semibold-fonts {
    font-family: var(--semibold-font-family) !important;
}

.bold-fonts {
    font-family: var(--bold-font-family) !important;
}


.big-gap {
    gap: var(--big-gap-size);
}

.wfc {
    width: fit-content;
}

.w50 {
    width: 50%;
}

.h100 {
    height: 100%;
}

.two-col-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.three-col-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.mlauto {
    margin-left: auto;
}

.m0auto {
    margin: 0 auto;
}

.w100 {
    width: 100%;
}

.iconw {
    width: 2rem;
}

.iconw {
    width: 2rem;
}

.white-color {
    color: var(--white-color) !important;
}

.secondary-color {
    color: var(--secondary-color) !important;
}

.gray-color {
    color: var(--gray-color) !important;
}

.main-container {
    width: 85%;
    max-width: 1600px;
    margin: 0 auto;
}

.main-container-fluid {
    width: 95%;
    max-width: 1840px;
    margin: 0 auto;
}

button {
    display: flex;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: var(--link-font-size);
    font-family: var(--regular-font-family);
    color: var(--white-color);
    border-radius: 10rem;
    height: 40px;
    padding: 0 1.25rem;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    letter-spacing: 1px;
}

button.gradient-btn {
    background-image: url('../images/icons/button.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

button.common-link-btn {
    height: auto;
    gap: var(--medium-gap-size);
    padding: 0.25rem 0.25rem 0.25rem 1rem;
    font-size: 1.125rem;
}

.btn-icon {
    width: 2.5rem;
}

.link-fonts a,
.link-fonts span,
.link-fonts p {
    font-size: var(--link-font-size)
}

.section-content span,
.section-content p {
    font-size: var(--content-font-size)
}

.section-paragraph span,
.section-paragraph p {
    font-size: var(--paragraph-font-size)
}

.section-subtitle h3,
.section-subtitle h4 {
    font-size: var(--subtitle-font-size)
}

.section-title h1,
.section-title h2 {
    font-size: var(--title-font-size);
    line-height: 1.2;
}

.section-second-title h2 {
    font-size: var(--title-font-size-2);
    line-height: 1.2;
}

.banner-title h1,
.banner-title h2 {
    font-size: var(--banner-font-size)
}

.section-smalltitle h4 {
    font-size: var(--smalltitle-font-size)
}




.header-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--big-gap-size);
    justify-content: space-between;
}


.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.header-navigation-links ul {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
}

.header-btn button {
    /* letter-spacing: 2px; */
}
.header-navigation-links ul li:hover a{
    color: var(--secondary-color) !important;
}
.header-navigation-links ul li {
    padding: 2rem 0;
}

.banner-text {
    position: absolute;
    bottom: 22%;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    z-index: 9;
}

.parshwadyes-home-section-one {
    /* height: 100svh; */
}

.home-banner-pagination {
    padding: 2rem;
    border: 1px solid #FFFFFF38;
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
}

.banner-pagination-container {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
}

.home-title .dot {
    width: 7px;
    height: 7px;
    background-color: var(--gray-color);
    border-radius: 100%;
}

.navigationFlex {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 9;
}

.swiper-button-next,
.swiper-button-prev {
    position: relative;
    background: none;
    margin: 0;
    height: auto;
    width: auto;
    left: unset;
    right: unset;
    top: unset;
}

.dyeText img {
    width: 1rem;
}


.swiper-slide>a,
.swiper-slide>div {
    width: 100%;
}

.dyeCard .dyeImg img {
    border-radius: 1rem;

    transition: var(--common-transition);
}

.dyeCard:hover .dyeImg img {
    border-radius: 3rem;
    transition: var(--common-transition);
}

.dyeCard:hover {
    border-radius: 1rem;
}

.dyeCard .hover-disable {
    display: none;
}

.dyeCard:hover .hover-disable {
    display: block;
}

.dyeCard:hover .hover-enable {
    display: none;
}

.dyeCard:hover P {
    color: var(--secondary-color);
    font-family: var(--medium-font-family);
}

.homne-sect3 {
    padding-top: 3rem;
    border-top: 1px solid var(--gray-color);
}

.parshwadyes-home-section-four {
    background-image: url('../images/homepage/HOMEPAGE-R&D.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    height: 120svh;
    place-content: center;

}

.home-sect4-text {
    transform: translateY(-10%);
}

.footer-inquiry-btn button {
    color: var(--primary-color);
}

.footer-quick-link>div {
    flex-basis: 33%;
}

.social-media-flex {
    padding-top: 1rem;
}

.social-media-flex img {
    width: 1rem;
}

.footer-wrapper .link-fonts a,
.footer-wrapper .link-fonts p {
    font-size: 1.125rem;
    color: #929292;
}

.footer-wrapper .link-fonts a:hover {
    color: #000000;
}

.footer-main-title h2 {
    padding: 3rem 0;
    font-size: 11rem;
    color: #DCDCDC;
}

.footer-main-wrapper.main-container {
    width: 95%;
}

.salt-logo {
    margin-left: 0.5rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: red;
    vertical-align: middle;
}

.footer-container {
    position: relative;
    z-index: 9;
    border-radius: 1rem;
    margin: 3rem auto;
    background-color: #f1f1f1;

}


.footer-quick-link>div {
    position: relative
}

.footer-quick-link>div::after {
    content: "/";
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    right: 10px;
    color: var(--secondary-color);
}

.footer-quick-link>div:last-child::after {
    display: none;
}


.footer-wrapper .powered-grid .link-fonts a,
.footer-wrapper .powered-grid .link-fonts p {
    font-size: 1rem;
}

.footer-container.footerActive {
    margin: -20svh auto 3rem auto;

}

.powered-grid .flex-row>div {
    position: relative;
}

.powered-grid .flex-row.medium-gap>div::after {
    content: "/";
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -1.5rem;
    color: var(--secondary-color);
}

.powered-grid .flex-row>div:last-child::after {
    display: none;
}

.footer-logo,
.header-logo {
    /* width: 15rem; */
}

.header-logo {
    width: 12rem;
}

/* Mobile Header  */

.menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 9;
}

.menu .bar {
    width: 2.5rem;
    height: 2px;
    background-color: var(--white-color);
    transition: var(--common-transition);
}

.menu.active .bar.top {
    transform: translateY(8px) rotate(-45deg);
}

.menu.active .bar.bottom {
    transform: translateY(-8px) rotate(45deg);
}

.menu.active .bar.middle {
    opacity: 0;
}

.header-wrapper.black-header .black-logo {
    display: block;
}

.header-wrapper.black-header .white-logo {
    display: none;
}

.header-wrapper .white-logo {
    display: block;
}

.header-wrapper .black-logo {
    display: none;
}


.header-wrapper.black-header .header-navigation-links a {
    color: var(--primary-color) !important;
}

.header-wrapper.black-header .menu .bar {
    background-color: var(--primary-color) !important;
}




.whatsapp-btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 2rem;
    z-index: 999;
}

/* jay */

.about-img {
    width: 40%;
}

.detaildiscription .section-content p,
.detaildiscription .section-content span {
    color: var(--gray-color);
}

.manu_Navigation {
    position: fixed;
    height: 100%;
    width: 100%;
    left: -100%;
    top: 0;
    padding: 8rem 2rem;
    transition: var(--common-transition);
    z-index: -1;
}

.manu_Navigation.active {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0%;
    background-color: var(--primary-color);

}

.manu_Navigation a {
    font-size: var(--subtitle-font-size);
}

.header-wrapper.header_change .white-logo {
    display: none;
}

.header-wrapper.header_change .black-logo {
    display: block;
}

.menu.active .bar {
    background-color: var(--white-color) !important;
}

.readmore_click {
    padding-top: 2rem;
    display: block;
}

.section-table-discription .readmore_click {
    color: var(--brown-color);
}

.w25 {
    width: 25%;
}

.usesGrid ul li img {
    flex-basis: 5%;
}

.dyeImg,
.dyeImg img {
    aspect-ratio: 1;
}

.productListGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--medium-gap-size);
}

.hoverParent:hover .hover-disable,
.hoverParent .hover-enable {
    display: block
}

.hoverParent:hover .hover-enable,
.hoverParent .hover-disable {
    display: none
}


.product-arrow {
    width: 1.5rem;
}

.border-radius {
    border-radius: 1.5rem;
    transition: var(--common-transition);
}


.hoverParent:hover .border-radius {
    border-radius: 3rem;

}
.hoverParent p{
    transition: var(--common-transition);
}

.hoverParent:hover p{
    color : var(--secondary-color);
}