<div class="parshwadyes-main-wrapper">
    <div class="parshwadyes-contact-wrapper inner-flex sect-gap" id="parshwadyes-contact-wrapper">
        <section class="parshwadyes-home-section-one relative" id="parshwadyes-home-section-one">

            <div class="banner-img h100">
                <img src="assets/images/contact/contact-us-bg.jpg" class="h100" alt="">
            </div>
            <div class="banner-pagination-container inner-flex alc">
                <div class="home-banner-pagination " ng-click="scrollToDiv('parshwadyes-contact-section-two')">
                    <div class="down-arrow">
                        <img src="assets/images/icons/down-arrow.svg" alt="">
                    </div>
                </div>
            </div>

            <div class="banner-text inner-flex small-gap alc text-center">
                <div class="banner-title ">
                    <h1 class="white-color bold-fonts">Contact Us</h1>
                </div>
                <div class="section-subtitle">
                    <h3 class="white-color">It's nice to connect with you</h3>
                </div>

            </div>

        </section>
        <section class="parshwadyes-contact-section-two relative" id="parshwadyes-contact-section-two">
            <div class="main-container">
                <div class="contact_sec2flex">
                    <div class="section-content flex-row sect2flex_catagory sec2_head">
                        <div class="sec2heading" ng-repeat="data in TabPanalData " ng-click="contactClick(data) "
                            ng-class="{active : tabObj.catagory == data.catagory }">
                            <p class="gray-color medium-fonts"> {{ data.catagory}}&nbsp;<span ng-if="$index < TabPanalData.length - 1 " class="secondary-color">/</span>&nbsp;
                            </p>
                        </div>
                    </div>

                    <div class="flex-row sec2_main">
                        <div class="sec2_adrs inner-flex big-gap">
                            <div class="section-content inner-flex locationflex">
                                <div class="loction_icon">
                                    <img src="assets/images/contact/location-icon.svg" alt="">
                                </div>
                                <div class="inner-flex contact_tel" ng-bind-html="tabObj.contentData"></div>

                            </div>

                            <div class="inner-flex small-gap" ng-if="tabObj.contactPerson.length > 0">
                                <div class="section-content">
                                    <p class="capitalize secondary-color contact_text">Contact Person</p>
                                </div>
                                <div class="flex-row big-gap sec2preson">

                                    <div class="inner-flex section-content contact_tel" ng-repeat="subData in tabObj.contactPerson">

                                        <p class="semibold-fonts">{{subData.name}}</p>
                                        <p ng-bind-html="subData.phone">
                                        </p>
                                        <p ng-bind-html="subData.email">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sec2imgflex">
                            <div class="sec2img relative">
                                <img src="{{tabObj.imgs}}" alt="">
                                <span class="img_text bold-fonts">
                                    {{tabObj.catagory}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="parshwadyes-contact-section-three  relative" id="parshwadyes-contact-section-three">
            <div class="main-container">
                <div class="inner-flex big-gap ">
                    <div class="two-col-grid  medium-mob-gap ">
                        <div class="inner-flex  ">


                            <div class="section-subtitle">
                                <h3>For general enquiries, <br>
                                    please fill out the form to <br>
                                    get in touch.</h3>
                            </div>

                        </div>
                        <div class="" ng-include="'templates/forms/contact-form.html'"></div>
                    </div>


                </div>

            </div>
        </section>
        <div class=""></div>
    </div>
</div>