<div class="parshwadyes-main-wrapper">
    <div class="parshwadyes-home-wrapper" id="parshwadyes-home-wrapper">
        <section class="parshwadyes-home-section-one relative" id="parshwadyes-home-section-one">
            <div class="banner-img">
                <img src="https://dummyimage.com/1920x1080/000000/000000" alt="">
            </div>
            <div class="main-container">
                <div class="relative">
                    <div class="banner-text inner-flex small-gap alc text-center">
                        <div class="banner-title ">
                            <h1 class="white-color">Pigment Paste & Emulsions</h1>
                        </div>
                        <div class="section-subtitle">
                            <h3 class="white-color">Our high quality  pigment paste  & emulsions are manufactured <br class="hidden-xs"> & designed  to permanenetly dye. </h3>
                        </div>
                    </div>
                </div>
            </div>  
        </section>
    </div>
</div>

<div class="">
    
</div>
