<div class="parshwadyes-main-wrapper">
    <div class="parshwadyes-quality-wrapper inner-flex sect-gap" id="parshwadyes-contact-wrapper">
        <section class="parshwadyes-home-section-one relative" id="parshwadyes-home-section-one">

            <div class="banner-img h100">
                <img src="assets/images/Quality/QUALITY_banner.jpg" class="h100" alt="">
            </div>
            <div class="banner-pagination-container inner-flex alc">
                <div class="home-banner-pagination " ng-click="scrollToDiv('parshwadyes-home-section-two')">
                    <div class="down-arrow">
                        <img src="assets/images/icons/down-arrow.svg" alt="">
                    </div>
                </div>
            </div>

            <div class="banner-text inner-flex small-gap alc text-center">
                <div class="banner-title flex-row relative">
                    <h1 class="white-color bold-fonts">Quality Assurance</h1>
                    <div class="bannericon">
                        <img src="assets/images/Quality/QUALITY-ICONS.svg" alt="">
                    </div>
                </div>
                <div class="section-subtitle">
                    <h3 class="white-color">Quality Control Approved</h3>
                </div>

            </div>

        </section>
        <section class="parshwadyes-home-section-two  relative" id="parshwadyes-home-section-two">
            <div class="main-container">
                <div class="two-col-grid  medium-mob-gap     about-sect5 alend">
                    <div class="inner-flex  ">
                        <div class="inner-flex ">
                            <div class="home-title section-smalltitle  flex-row alc">
                                <span class="dot"></span>
                                <h4 class="gray-color">Quaity</h4>
                            </div>

                            <div class="section-title ">
                                <h2 class="medium-fonts">Quaity Control <br class="hidden-xs">
                                    Approved</h2>
                            </div>


                        </div>

                    </div>
                    <div class="section-content about_sec5_readmore hidden-xs hidden-sm">
                        <p class="gray-color ">
                            The manufacturing process unfolds under the watchful eyes of the experts. The
                            whole process is synchronized into different divisions. Each for a distinct
                            purpose. For moving from one division to another the products require to fulfills
                            the prescribed norms of the one in question. It's only when a set of products has
                            gone through all of them that a cycle is considered over. The cycle encompasses
                            the whole spectrum from reception of raw materials to final delivery.
                        </p>
                    </div>

                </div>
            </div>
        </section>
        <div class=""></div>
        <section class="parshwadyes-quality-section-four  relative" id="parshwadyes-home-section-four">
            <div class="main-container home-sect4-text">
                <div class=" inner-flex big-gap alc text-center">
                    <div class="inner-flex medium-gap">
                        <div class="sec4_img">
                            <img src="assets/images/Quality/111.png" alt="">
                        </div>
                        <div class="section-title ">
                            <h1 class="primary-color medium-fonts">Quality Assurance</h1>
                        </div>

                    </div>
                    <div class="about-sect4-content quality-sect4-content section-content w50 m0auto">
                        <p class="gray-color" read-more dd-text-collapse-max-length="700"
                            dd-text-collapse-text="It has been our practice since inception to ensure that each batch of production goes through strict
                            quality checking and we aim at providing to our valued customers quality products and consistency
                            thereof. We make sure that the right product reaches the right customer - no compromise on quality.<br><br>This has been possible with the help of most sophisticated testing instruments like
                            spectrophotometer and other equipments installed in our Laboratory. Experienced Chemists with
                            hands on experienced in Dyestuff industry take care of the quality parameters, thereby helping the
                            organization gain the loyalty of the large number of customers. <br> <br>We retain sample undergoes testing against the approved samples, under strict supervision of our qualified chemists. This is one reason why all overseas buyers consider us as long-term partners and look up to as reliable source for quality Dyestuffs.">
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>